<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DbBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <userSettings>
    <DbBackup.Properties.Settings>
      <setting name="BackupLocationRoot" serializeAs="String">
        <value>\\granas1\Backups</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>IrisLawBusiness</value>
      </setting>
      <setting name="MaximumAgeOfFullBackup" serializeAs="String">
        <value>14.00:00:00</value>
      </setting>
      <setting name="ForceFullBackup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseServerName" serializeAs="String">
        <value/>
      </setting>
    </DbBackup.Properties.Settings>
  </userSettings>
</configuration>
